.country-card {
  width: 100%;
}

.country-card__flag {
  position: relative;
  width: 100%;
  padding-top: calc(100% * 2 / 3);

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
